<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muzi.museum.dao.CultureDigitalMapper" >
  <resultMap id="BaseResultMap" type="com.muzi.museum.bean.CultureDigital" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="culture_id" property="cultureId" jdbcType="INTEGER" />
    <result column="digital_id" property="digitalId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creat_user" property="creatUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, culture_id, digital_id, create_time, update_time, creat_user, update_user, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from culture_digital
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from culture_digital
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.muzi.museum.bean.CultureDigital" >
    insert into culture_digital (id, culture_id, digital_id, 
      create_time, update_time, creat_user, 
      update_user, is_delete)
    values (#{id,jdbcType=INTEGER}, #{cultureId,jdbcType=INTEGER}, #{digitalId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{creatUser,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR}, #{isDelete,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.muzi.museum.bean.CultureDigital" >
    insert into culture_digital
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cultureId != null" >
        culture_id,
      </if>
      <if test="digitalId != null" >
        digital_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creatUser != null" >
        creat_user,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cultureId != null" >
        #{cultureId,jdbcType=INTEGER},
      </if>
      <if test="digitalId != null" >
        #{digitalId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatUser != null" >
        #{creatUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.muzi.museum.bean.CultureDigital" >
    update culture_digital
    <set >
      <if test="cultureId != null" >
        culture_id = #{cultureId,jdbcType=INTEGER},
      </if>
      <if test="digitalId != null" >
        digital_id = #{digitalId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatUser != null" >
        creat_user = #{creatUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.muzi.museum.bean.CultureDigital" >
    update culture_digital
    set culture_id = #{cultureId,jdbcType=INTEGER},
      digital_id = #{digitalId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creat_user = #{creatUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>