<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muzi.museum.dao.RelationMapper" >
  <resultMap id="BaseResultMap" type="com.muzi.museum.bean.Relation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="rel_tel" property="relTel" jdbcType="INTEGER" />
    <result column="rel_email" property="relEmail" jdbcType="VARCHAR" />
    <result column="rel_weixin" property="relWeixin" jdbcType="VARCHAR" />
    <result column="rel_weibo" property="relWeibo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, rel_tel, rel_email, rel_weixin, rel_weibo, create_time, update_time, create_user, 
    update_user, is_delete
  </sql>
  <select resultMap="BaseResultMap" id="selectAll">
   select
   <include refid="Base_Column_List"/>
   from relation
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.muzi.museum.bean.Relation" >
    insert into relation (id, rel_tel, rel_email, 
      rel_weixin, rel_weibo, create_time, 
      update_time, create_user, update_user, 
      is_delete)
    values (#{id,jdbcType=INTEGER}, #{relTel,jdbcType=INTEGER}, #{relEmail,jdbcType=VARCHAR}, 
      #{relWeixin,jdbcType=VARCHAR}, #{relWeibo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.muzi.museum.bean.Relation" >
    insert into relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="relTel != null" >
        rel_tel,
      </if>
      <if test="relEmail != null" >
        rel_email,
      </if>
      <if test="relWeixin != null" >
        rel_weixin,
      </if>
      <if test="relWeibo != null" >
        rel_weibo,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="relTel != null" >
        #{relTel,jdbcType=INTEGER},
      </if>
      <if test="relEmail != null" >
        #{relEmail,jdbcType=VARCHAR},
      </if>
      <if test="relWeixin != null" >
        #{relWeixin,jdbcType=VARCHAR},
      </if>
      <if test="relWeibo != null" >
        #{relWeibo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.muzi.museum.bean.Relation" >
    update relation
    <set >
      <if test="relTel != null" >
        rel_tel = #{relTel,jdbcType=INTEGER},
      </if>
      <if test="relEmail != null" >
        rel_email = #{relEmail,jdbcType=VARCHAR},
      </if>
      <if test="relWeixin != null" >
        rel_weixin = #{relWeixin,jdbcType=VARCHAR},
      </if>
      <if test="relWeibo != null" >
        rel_weibo = #{relWeibo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.muzi.museum.bean.Relation" >
    update relation
    set rel_tel = #{relTel,jdbcType=INTEGER},
      rel_email = #{relEmail,jdbcType=VARCHAR},
      rel_weixin = #{relWeixin,jdbcType=VARCHAR},
      rel_weibo = #{relWeibo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>