<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muzi.museum.dao.SsyMapper" >
  <resultMap id="BaseResultMap" type="com.muzi.museum.bean.Ssy" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="s_vison" property="sVison" jdbcType="VARCHAR" />
    <result column="s_name" property="sName" jdbcType="VARCHAR" />
    <result column="s_copyright" property="sCopyright" jdbcType="VARCHAR" />
    <result column="s_code" property="sCode" jdbcType="VARCHAR" />
    <result column="s_date" property="sDate" jdbcType="VARCHAR" />
    <result column="s_tel" property="sTel" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, s_vison, s_name, s_copyright, s_code, s_date, s_tel, create_time, update_time, 
    create_user, update_user, is_delete
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from ssy
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ssy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ssy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.muzi.museum.bean.Ssy" >
    insert into ssy (id, s_vison, s_name, 
      s_copyright, s_code, s_date, 
      s_tel, create_time, update_time, 
      create_user, update_user, is_delete
      )
    values (#{id,jdbcType=INTEGER}, #{sVison,jdbcType=VARCHAR}, #{sName,jdbcType=VARCHAR}, 
      #{sCopyright,jdbcType=VARCHAR}, #{sCode,jdbcType=VARCHAR}, #{sDate,jdbcType=VARCHAR}, 
      #{sTel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, #{isDelete,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.muzi.museum.bean.Ssy" >
    insert into ssy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sVison != null" >
        s_vison,
      </if>
      <if test="sName != null" >
        s_name,
      </if>
      <if test="sCopyright != null" >
        s_copyright,
      </if>
      <if test="sCode != null" >
        s_code,
      </if>
      <if test="sDate != null" >
        s_date,
      </if>
      <if test="sTel != null" >
        s_tel,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sVison != null" >
        #{sVison,jdbcType=VARCHAR},
      </if>
      <if test="sName != null" >
        #{sName,jdbcType=VARCHAR},
      </if>
      <if test="sCopyright != null" >
        #{sCopyright,jdbcType=VARCHAR},
      </if>
      <if test="sCode != null" >
        #{sCode,jdbcType=VARCHAR},
      </if>
      <if test="sDate != null" >
        #{sDate,jdbcType=VARCHAR},
      </if>
      <if test="sTel != null" >
        #{sTel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.muzi.museum.bean.Ssy" >
    update ssy
    <set >
      <if test="sVison != null" >
        s_vison = #{sVison,jdbcType=VARCHAR},
      </if>
      <if test="sName != null" >
        s_name = #{sName,jdbcType=VARCHAR},
      </if>
      <if test="sCopyright != null" >
        s_copyright = #{sCopyright,jdbcType=VARCHAR},
      </if>
      <if test="sCode != null" >
        s_code = #{sCode,jdbcType=VARCHAR},
      </if>
      <if test="sDate != null" >
        s_date = #{sDate,jdbcType=VARCHAR},
      </if>
      <if test="sTel != null" >
        s_tel = #{sTel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.muzi.museum.bean.Ssy" >
    update ssy
    set s_vison = #{sVison,jdbcType=VARCHAR},
      s_name = #{sName,jdbcType=VARCHAR},
      s_copyright = #{sCopyright,jdbcType=VARCHAR},
      s_code = #{sCode,jdbcType=VARCHAR},
      s_date = #{sDate,jdbcType=VARCHAR},
      s_tel = #{sTel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>