<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muzi.museum.dao.extend.TypeeVMMapper" >
    <resultMap id="BaseResultMap" type="com.muzi.museum.bean.extend.TypeeVM" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="type_name" property="typeName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
        <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
        <result column="is_delete" property="isDelete" jdbcType="CHAR" />
        <collection column="id" property="type_pictures" select="selectPictureByTypeId" javaType="ArrayList"
        ofType="com.muzi.museum.bean.Type_picture">
        </collection>
    </resultMap>
    <sql id="Base_Column_List" >
    id, type_name, create_time, update_time, create_user, update_user, is_delete
  </sql>
    <select id="selectPictureByTypeId" resultType="com.muzi.museum.bean.Round_picture"
            parameterType="int">
        select * from  type_picture where type_id = #{id}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select * from typee
    </select>
</mapper>