<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display</title>
    <style>
        p{
            text-indent: 30px;
            margin: 20px 0px;
            line-height: 2em;
        }
        a.one:link {color:#848080;text-decoration:none;}
        a.one:visited {color: #848080; text-decoration: none;}
        a.one:hover { color:#454545;text-decoration:none;}
    </style>
</head>
<body>
<a href="" th:href="${origin}" class="one">通知公告</a>
<div th:object="${display}">
    <!--<p th:text="'id：' + *{id}"/>-->
    <h1 align="center"><p th:text="*{displayTitle}"/></h1>
    <p th:text="*{#dates.format(createTime,'yyyy-MM-dd HH:mm:ss')}" align="center"/>
    <hr/>
    <div style="width: 80%;margin-left: 90px;" th:utext="*{displayContend}">
    </div>
</div>
</body>
</html>