<!DOCTYPE html><html><head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>demo</title>
    <link href=../static/css/app.7b252cbd895d79becc643449055e44b8.css rel=stylesheet>
</head><body><div id=app></div>
<script type=text/javascript src=../static/js/manifest.3ad1d5771e9b13dbdad2.js></script>

<script type=text/javascript src=../static/js/vendor.942ed09101baefe2b661.js></script>

<script type=text/javascript src=../static/js/app.9a2199b61b4550e5dacc.js></script>
</body><style></style></html>